<wp-page title="Lights" i18n-title>
  <wp-section title="Esterno"></wp-section>
  <wp-section title="Cucina"></wp-section>
  <wp-section title="Soggiorno"></wp-section>
  <wp-section title="Lavanderia"></wp-section>
  <wp-section title="Bagno Giorno"></wp-section>
  <wp-section title="Corridoio Notte"></wp-section>
  <wp-section title="Bagno Notte"></wp-section>
  <wp-section title="Studio">
    <wp-light></wp-light>
  </wp-section>
  <wp-section title="Camera Media"></wp-section>
  <wp-section title="Camera Grande"></wp-section>
</wp-page>
