<div class="app-topbar">
  <div class="topbar-datetime">Twe 11-08-2022 16:59</div>
  <div class="topbar-pagetitle">Rooms</div>
</div>

<div class="app-content">

</div>
<div class="app-pages">

  <div class="app-page selected">
    <i class="bi bi-house"></i>
    <span i18n>Rooms</span>
  </div>

  <div class="app-page">
    <i class="bi bi-lightbulb"></i>
    <span i18n>Lights</span>
  </div>

  <div class="app-page">
    <i class="bi bi-thermometer-half"></i>
    <span i18n>Thermostats</span>
  </div>

  <div class="app-page">
    <i class="bi bi-robot"></i>
    <span i18n>Devices</span>
  </div>
</div>
